[submodule "vendors/sources/gists/3982188"]
	path = vendors/sources/gists/3982188
	url = git://gist.github.com/3982188.git
[submodule "vendors/sources/gists/3981972"]
	path = vendors/sources/gists/3981972
	url = git://gist.github.com/3981972.git
[submodule "vendors/sources/gists/3965342"]
	path = vendors/sources/gists/3965342
	url = git://gist.github.com/3965342.git
[submodule "vendors/functions/curl-completion"]
	path = vendors/functions/curl-completion
	url = git://github.com/Valodim/zsh-curl-completion.git
[submodule "vendors/functions/tw-completion"]
	path = vendors/functions/tw-completion
	url = git://github.com/glidenote/tw-zsh-completion.git
