[submodule "vendors/sources/gists/3982188"]
	path = vendors/sources/gists/3982188
	url = git://gist.github.com/3982188.git
[submodule "vendors/sources/gists/3981972"]
	path = vendors/sources/gists/3981972
	url = git://gist.github.com/3981972.git
[submodule "vendors/sources/gists/3965342"]
	path = vendors/sources/gists/3965342
	url = git://gist.github.com/3965342.git
